.kalcifer_slider.grey > .title{
    border: 1px solid #909090;
    border-radius: 8px;
    background: #909090;
    color: #ffffff;
}

.kalcifer_slider.grey > .title:hover{
    background: #a5a4a4;
}

.kalcifer_slider.grey > .desc{
    border: 1px solid #909090;
    border-radius: 0px 0px 8px 8px;
    background: #ffffff;
    color: #111111;
}

.kalcifer_slider.grey > .title.active{
    border-radius: 8px 8px 0px 0px;
}

.kalcifer_slider.grey > .title.active:hover{
    background: #909090;
}