.kalcifer_slider.red > .title{
    border: 1px solid #fb5043;
    border-radius: 8px;
    background: #fb5043;
    color: #ffffff;
}

.kalcifer_slider.red > .title:hover{
    background: #fb6054;
}

.kalcifer_slider.red > .desc{
    border: 1px solid #fb5043;
    border-radius: 0px 0px 8px 8px;
    background: #ffffff;
    color: #111111;
}

.kalcifer_slider.red > .title.active{
    border-radius: 8px 8px 0px 0px;
}

.kalcifer_slider.red > .title.active:hover{
    background: #fb5043;
}